[Unit]
Description=a small go server that makes the printer available via HTTP to LAN to avoid driver mess

[Service]
Type=simple
WorkingDirectory=%h/printproxy
ExecStart=%h/printproxy/exe
StandardOutput=journal
StandardError=journal
SyslogIdentifier=printproxy

[Install]
WantedBy=default.target
